.profile {
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  display: grid;
  justify-content: center;
}

.profile__perfil .profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile__border {
  justify-self: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3.5px solid $first-color;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile__name {
  font-size: var($h2-font-size);
  color: $title-color;
}

.profile__profession {
  font-size: var($smaller-font-size);
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: $title-color;
  transition: 0.3s;

  &:hover {
    color: $first-color;
  }
}

.profile__info {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group {
  text-align: center;
}

.profile__info-number {
  font-size: $normal-font-size;
  margin-bottom: 0.25rem;
}

.profile__info-description {
  font-size: $smaller-font-size;
  font-weight: 500;
}

.profile__buttons,
.profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons {
  column-gap: 1rem;
}
.profile__buttons-small {
  column-gap: 0.25rem;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: $first-color;
  color: $body-color-dark;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla($hue, $sat, $lig, 0.25);

  i {
    font-size: 1.25rem;
  }

  &:hover {
    background-color: $first-color-alt;
  }
}

.button__small {
  padding: 0.75rem;
  box-shadow: none;
}

.button__gray {
  background-color: $text-color-lighten;
  color: $title-color;

  &:hover {
    background-color: $text-color-light;
  }
}
