$hue: 207;
$sat: 90%;
$lig: 61%;
$first-color: hsl($hue, $sat, $lig);
$first-color-alt: hsl($hue, $sat, 57%); /* -4% */
$text-color-light: hsl($hue, 8%, 75%);
$text-color-lighten: hsl($hue, 8%, 92%);
$title-color: hsl($hue, 12%, 15%);
$text-color: hsl($hue, 12%, 45%);
$body-color: hsl($hue, 100%, 99%);
$container-color: #fff;

//dark
$title-color-dark: hsl($hue, 12%, 95%);
$text-color-dark: hsl($hue, 12%, 75%);
$body-color-dark: hsl($hue, 40%, 8%);
$container-color-dark: hsl($hue, 24%, 12%);

$body-font: "Poppins", sans-serif;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

@media screen and (min-width: 968px) {
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}
